<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    {% block css %}
    {% endblock %}
</head>
<body>
    {% include "partials/Navbar.html" %}
    {% comment %} {% block navbar %}
    {% endblock %} {% endcomment %}
    {% block content %}
    {% endblock %}
    {% include "partials/footer.html" %}
</body>
{% block script %}

{% endblock %}

</html>